/* Style 1 */

a,
h2,
.componentheading {
	color: #178FC0;
}

/* @group Structure */

#logo {
	background: url(../images/style1/logo.png) 0 0 no-repeat;
}

#showcase {
	background: #073457 url(../images/style1/showcase-bg.png) 0 0 repeat-x;
}

#showcase2 {
	background: url(../images/style1/showcase-promo.jpg) 50% 0 no-repeat;
}

#featured-mod {
	background: url(../images/style1/featuremod-bg.png) 50% 0 repeat-x;
}

#featured-mod2 {
	background: url(../images/style1/featuremod-bg2.jpg) 50% 0 no-repeat;
}

/* @end */

/* @group Horizontal Menu */

#horiz-menu {
	background: url(../images/style1/horiz-menu-bg.png) 0 0 repeat-x;
}

#horiz-menu ul ul {
	background: #031421;
	border-left: 1px solid #094369;
	border-right: 1px solid #094369;
	border-bottom: 1px solid #094369;
}

#horiz-menu ul ul ul {
	border-top: 1px solid #094369;
}

#horiz-menu li a {
	background: url(../images/style1/horiz-menu-div.png) 100% 50% no-repeat;
}

#horiz-menu a,
#horiz-menu li.active a {
	color: #fff;
}

#horiz-menu li.active a {
	color: #18A7E1;
}

#horiz-menu a:hover {
	color: #18A7E1;
}

#horiz-menu ul ul li a,
#horiz-menu ul li.active.parent ul a {
	background: url(../images/style1/dropdown-arrow.png) 10px 50% no-repeat;
	color: #18A7E1;
}

/* @end */

/* @group Main Menu */

a.mainlevel {
	background: url(../images/style1/vertmenu-bg.png) 0 0 no-repeat;
	color: #666;
}

a#active_menu.mainlevel,
a.mainlevel:hover {
	color: #178FC0;
}

a.sublevel:hover,
a#active_menu.sublevel {
	color: #178FC0;
}

a.sublevel {
	color: #666;
}

/* @end */

/* @group Sub Menu */

ul.menu a {
	background: url(../images/style1/vertmenu-bg.png) 0 0 no-repeat;
	color: #666;
}

ul.menu li.active a,
ul.menu li a:hover,
ul.menu li.parent li.active a,
ul.menu li.parent li.parent li.active a,
ul.menu li.parent li.active a:hover,
ul.menu li.parent li.parent li.active a:hover,
ul.menu li.active a:hover {
	color: #18A7E1;
}

ul.menu li.parent li a,
ul.menu li.parent li.parent li a {
	color: #666;
}

/* @end */

.rok-content-rotator h2 a:hover,
.rok-content-rotator h2 a.active,
#rokslide-toolbar li.current {
	color: #178FC0;
}

/* @group Typography */

ul.bullet-1 li {
	background: url(../images/style1/dropdown-arrow.png) 0 3px no-repeat;
}

ul.bullet-2 li {
	background: url(../images/style1/bullet-2.png) 0 3px no-repeat;
}

ul.bullet-3 li {
	background: url(../images/style1/bullet-3.png) 0 3px no-repeat;
}

ul.bullet-4 li {
	background: url(../images/style1/bullet-4.png) 0 3px no-repeat;
}

ul.bullet-5 li {
	background: url(../images/style1/bullet-5.png) 0 3px no-repeat;
}

.important2 {
	border: 1px solid #178FC0;
}

span.highlight-color {
	background: #178FC0;
	color: #fff;
}

span.important-title2,
span.number-color,
blockquote.color2,
span.dropcap-color {
	color: #178FC0;
}

/* @end */
